{
  "DiscordToken": "",
  "GoogleApiKey": "",
  "SmmryKey": "",
  "StarterCurrency": "250",
  "TestGuildId": "",
  "FileUploaderBaseUrl": "",
  "FileUploaderToken": "",
  "Database": {
    "ConnectionString": ""
  },
  "OpenAI": {
    "ApiKey": ""
  },
  "TempDir": "temp/"
}
